<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /php_todo
RewriteRule ^index\.php$ - [L]
RewriteCond %{​​REQUEST_FILENAME}​​ !-f
RewriteCond %{​​REQUEST_FILENAME}​​ !-d
RewriteRule . /php_todo/index.php [L]
</IfModule>